<nav
  class="d-flex align-items-center pt-2 justify-content-between bg-white"
  style=" padding-left: 20px;"
>

  <button class="menu-toggle d-xl-none">
    <i class="bi bi-list"></i>
  </button>

  <div class=" pb-1">
    <img src="../imgs//Logo copy.png" alt="Logo"  />
  </div>
  <ul class="d-flex gap-3 align-items-center list-unstyled mobile-menu">
    <li class="px-2 h <%= path ==='d' ? "Nactive" : "" %>"><a   style="text-decoration: none;color: inherit;"   href="/manager/dashboard">Dashboard</a></li>
    <li class="px-2 h <%= path ==='um' ? "Nactive" : "" %>"><a  style="text-decoration: none;color: inherit;"    href="/manager/userManagement">user management</a></li>
    <li class="px-2 h <%= path ==='ir' ? "Nactive" : "" %>"><a  style="text-decoration: none;color: inherit;"    href="/manager/issueResolving">Issue resolving</a></li>
    <li class="px-2 h <%= path ==='p' ? "Nactive" : "" %>"><a   style="text-decoration: none;color: inherit;"   href="/manager/payments">Payments</a></li>
    <li class="px-2 h <%= path ==='ad' ? "Nactive" : "" %>"><a  style="text-decoration: none;color: inherit;"    href="/manager/ad">Advertisement</a></li>
    <li class="px-2 h <%= path ==='cbs' ? "Nactive" : "" %>"><a style="text-decoration: none;color: inherit;"   href="/manager/commonSpace">Common space bookings</a></li>
    <li class="px-2 h <%= path ==='pr' ? "Nactive" : "" %>"><a  style="text-decoration: none;color: inherit;" href="/manager/profile">Profile</a></li>
  </ul>
  <div class="log-out-con  d-flex justify-content-around align-items-center" style="position: relative;">
  <div class="notification position-relative ">
    <i class="bi bi-bell p-2" style="font-size: 20px;"></i>
    <span class="notif-count">1</span>

    <!-- Tooltip box (initially hidden) -->
    <div class="notif-tooltip">
      You have 1 new notification
    </div>
  </div>

  <button class="log-out btn btn-warning p-2">
    <i class="bi bi-box-arrow-right me-1"></i>Logout
  </button>
</div>
</nav>

<% if (alert && alert.length > 0) { %>
  <div class="alert-msg">
    <h5><%= alert[0] %></h5>
  </div>
<% } %>
<script>
  document.querySelector(".log-out").addEventListener("click", () => {
  window.history.replaceState(null, '', '/');
    window.location.href = "/logout";
  });
</script>
