<nav class="d-flex align-items-center pt-2 justify-content-between bg-white" style=" padding-left: 20px;">

  <button class="menu-toggle d-xl-none">
    <i class="bi bi-list"></i>
  </button>

  <div class=" pb-1">
    <img src="../imgs//Logo copy.png" alt="Logo" />
  </div>
  <ul class="d-flex gap-3 align-items-center list-unstyled mobile-menu">
    <li class="px-2 h nav-link <%= path ==='d' ? " Nactive" : "" %>"><a style="text-decoration: none;color: inherit;"
        href="/resident/dashboard">Dashboard</a></li>
    <li class="px-2 h nav-link <%= path ==='pa' ? " Nactive" : "" %>"><a style="text-decoration: none;color: inherit;"
        href="/resident/preApprovals">Pre Approvals</a></li>
    <li class="px-2 h nav-link <%= path ==='cbs' ? " Nactive" : "" %>"><a style="text-decoration: none;color: inherit;"
        href="/resident/commonSpace">Common Space Bookings</a></li>
    <li class="px-2 h nav-link <%= path ==='p' ? " Nactive" : "" %>"><a style="text-decoration: none;color: inherit;"
        href="/resident/payments">Payments</a></li>
    <li class="px-2 h nav-link <%= path ==='ir' ? " Nactive" : "" %>"><a style="text-decoration: none;color: inherit;"
        href="/resident/issueRaising">Issue Raising</a></li>
    <li class="px-2 h nav-link <%= path ==='pr' ? " Nactive" : "" %>"><a style="text-decoration: none;color: inherit;"
        href="/resident/profile">Profile</a></li>

  </ul>
  <div class="log-out-con" style="position: relative;">
    <button class="log-out btn btn-warning p-2">
      <i class="bi bi-box-arrow-right me-1"></i>Logout
    </button>
  </div>
<<<<<<< HEAD
</nav>
=======

  <button class="log-out btn btn-warning p-2">
    <i class="bi bi-box-arrow-right me-1"></i>Logout
  </button>
</div>
</nav>
<script>
  document.querySelector(".log-out").addEventListener("click", () => {
  window.history.replaceState(null, '', '/');
    window.location.href = "/logout";
  });
</script>
>>>>>>> c86b71ab2aa042c42609a6438e37e745a38a58d0
